h1,h2,h3,h4,h5 {color:saddlebrown;}

body {background-color:DarkSeaGreen;}

p {font-family:"Lucida Console", Monaco, monospace;}

h1,h2,h3,h4,h5 {font-family:"Courier New", Courier, monospace;}

li {font-family:"Courier New", Courier, monospace;}
